@import '../themes/about';

.about-page-accordion-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;

  .accordion {
    margin: 0;
    margin-top: 5vh;
  }

  .accordion:last-of-type {
    margin-bottom: 5vh;
  }
}
