@import '../../design/colors';
@import '../../design/themes';

@include themes(light) {
  .housing-sheets-grid-gallery {
    background-color: $housing-sheets-grid-bg-color;
  }

  .housing-sheets-grid-gallery .housing-sheets-grid-gallery-item {
    background-color: $housing-sheets-grid-item-bg-color;
    color: $housing-sheets-grid-item-font-color;
  }
}

@media (max-width: 1350px) {
  @include themes(light) {
    .housing-sheets-grid-gallery {
      background-color: transparent;
    }
  }

  @include themes(dark) {
    .housing-sheets-grid-gallery {
      background-color: transparent;
    }
  }
}
