@import '../../design/colors';
@import '../../design/themes';

@include themes(light) {
  .accordion-wrapper {
    .accordion-button.active,
    .accordion-button:hover {
      background-color: #ccc;
    }

    .accordion-button {
      background-color: #eee;
      color: #444;
    }
  }
}

@include themes(dark) {
}
