@import '../../design/breakpoints';
@import '../../design/carouselSharedVariables';

@include responsive(base) {
  .kasa-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;

    border-radius: max(15px, 2.5vw);
    width: 100%;
    overflow: hidden;

    .kasa-carousel-inner {
      display: flex;
      max-height: max(20vw, 415px);
    }
  }
}

@include responsive(mobiles, $carousel-mobile-breakpoint-offset) {
  .kasa-carousel .kasa-carousel-img-element {
    min-height: 255px;
  }
}
