@import '../../design/bannerBase.scss';
@import '../../design/breakpoints.scss';

.homepage.banner-wrapper .banner-background {
  position: relative;
  background: url('/img/banners/homepage.webp') no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-position: 0 min(150px, 72%);
  background-size: 100vw;
}

@include responsive(mobiles, $responsive-banner-width-offset) {
  .homepage.banner-wrapper .banner-background {
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
  }
}
