@import '../../design/breakpoints';
@import '../../design/colors';
@import '../../design/carouselSharedVariables';

@include responsive(base) {
  .kasa-images-slider {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: max(15px, 2.5vw);
    background-color: $housing-sheets-grid-bg-color;

    .kasa-images-slider-indicator {
      user-select: none;
      position: absolute;
      bottom: 5%;
      color: white;
      z-index: 1;
      font-weight: 600;
      font-size: 18px;
      text-shadow: 0 0 2px black, 0 0 1px rgba(0, 0, 0, 0.85), 0 0 2px rgba(0, 0, 0, 0.75);
      background-color: rgba(0, 0, 0, 0.05);
      padding: 5px 15px;
      border-radius: 100%;
    }

    .button {
      background-color: transparent;
      height: 100%;
      position: absolute;
      border: none;
      cursor: pointer;

      .button-icon {
        background-size: cover;
        width: 36px;
        height: 60px;
        margin: 25px;
      }
    }

    .button.button-next {
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.15) 0%, transparent 95%);
      right: 0;
      .button-next-icon {
        background-image: url('/img/icons/images-slider-button-icon.svg');
      }
    }

    .button.button-prev {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0%, transparent 95%);

      left: 0;
      .button-prev-icon {
        background-image: url('/img/icons/images-slider-button-icon.svg');
        transform: rotate(180deg);
      }
    }

    .kasa-images-slider-inner {
      display: flex;
      height: max(20vw, 415px);
      width: 100%;

      .kasa-images-slider-background-img-div {
        position: relative;
        background-position: center;
        background-size: cover;
        height: 100%;
        min-width: 100%;
      }
    }
  }
}

@include responsive(mobiles, $carousel-mobile-breakpoint-offset) {
  .kasa-images-slider {
    .kasa-images-slider-img-element {
      min-height: 255px;
    }

    .button .button-icon {
      background-size: cover;
      width: 18px;
      height: 30px;
      margin: 12.5px;
    }
  }
}

@include responsive(mobiles) {
  .kasa-images-slider {
    .kasa-images-slider-indicator {
      display: none;
    }
  }
}
