$body-bg-color: #fff;
$body-font-color: #ff6060;
$housing-sheets-grid-bg-color: #f6f6f6;
$housing-sheets-grid-item-bg-color: #b6b6b6;
$housing-sheets-grid-item-font-color: #fff;

$dark-body-bg-color: #181a1b;
$dark-body-font-color: #ff6060;

$dark-housing-sheets-grid-bg-color: #f6f6f6;
$dark-housing-sheets-grid-item-bg-color: $housing-sheets-grid-item-bg-color;
$dark-housing-sheets-grid-item-font-color: #fff;
